*{
  background-color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-decoration: row;
  justify-content: right;
  font-family: Roboto, arial, sans-serif;
}

.container-a {
  margin: 21px 8px
}

.navbar-a {
  color: black;
  text-decoration: none;
  margin: 0px 10px 0px 5px;
  font-weight: 20px;
}

.navbar-a:hover {
  text-decoration: underline;
}

.container-img {
  display: flex;
  margin: 10px 10px 30px 5px;
}

.img-1 {
  height: 20px;
  width: 20px;
  margin: 10px 25px 0px 0px ;
}

.img-2 {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.container-utama {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  justify-content: center;
  font-family: "comic sans m.s",cursive;
  font-size: 40px;
  margin-top: 35px;
/*   background-color: #333; */
}

.div-h1 {
}

.div-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
/*   background-color: #333; */
  
}

.input {
  border-radius: 50px;
  margin-top: 20px;
  padding: 10px 1250px 10px 1000px;
  padding-inline-start: 30px;
  padding-inline-end: 230px;
}
